* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color for page */
body {
    background-color: #d9dcd6;
}

/* changes color, padding, and font family of header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets flow style and font size of header class and h1 element */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets color of following classes and elements */
.header h1 .seo {
    color: #d9dcd6;
}

/* adds padding, margin, placement, and font edits to header class and nav element */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* sets list type for following elements and class */
.header nav ul {
    list-style-type: none;
}

/* sets display flow and margins for following elements and class */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color and text style to the a element */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets font size for p elements */
p {
    font-size: 16px;
}

/* sets size, margin, and adds a background to hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* adds a class that floats left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* adds a class that floats right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets width and flow type for content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets margins, size, color, font, and location for benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets margin and color */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets margin and text alignment */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets display flow, margin, and max width */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets margin, size, color, and font for seo class */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets margin, size, color, and font for orm class */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets margin, size, color, and font for smm class */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets height for images */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* sets margin and font size for headers */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* adds padding, font, and alignment to footer class */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets font size */
.footer h2 {
    font-size: 20px;
}
